{
'name': "{{ column.name }}",
'orderable': false,
'searchable': false,
'visible': true,
'className': "{{ column.class }}",
'data': "{{ column.data }}"
{%- if column.ajax is defined -%}
    ,
    'render': function( data, type, row ){
    var routeArgs = {};
    {% if column.ajax.args is defined and column.ajax.args is iterable %}
        var xargs = JSON.parse('{{ column.ajax.args|json_encode|e('js') }}');
        $.each(xargs, function( arg, col) {
        routeArgs[arg] = row[col];
        });
    {% endif %}
    {% if column.displayColumnData %}
        if(row.isConfigurable == "Produit Simple"){
            return '<span>'+data+'</span>';
        }
        else{
            if( ( ("configurableParent" in row) && row.configurableParent == null ) || (("confparentid" in row) && row.confparentid == null ) ){
                return '<span>'+data+'</span><i class="glyphicon glyphicon-plus-sign" data-content_route="' + Routing.generate('{{ column.ajax.route }}', routeArgs ) + '"></i>';
            }
            return '<span>'+data+'</span>';
        }
    {% else %}
        if(row.isConfigurable == "Produit Simple"){
            return '<span></span>';
        }
        else{
            if( ( ("configurableParent" in row) && row.configurableParent == null ) || (("confparentid" in row) && row.confparentid == null ) ){
                return '<span></span><i class="glyphicon glyphicon-plus-sign" data-content_route="' + Routing.generate('{{ column.ajax.route }}', routeArgs ) + '"></i>';
            }
            return '<span></span>';
        }
    {% endif %}
    }
{%- endif -%}
},
